# Description
This code is a sandbox for analysing a company.

In [1]:
import sys
from pprint import pprint

sys.path.append("../")
from edgar_utils import ticker_to_cik, get_companywide_concepts, get_financial_item
from adamodaran_utils import get_industry_df, get_industry_and_sector
import pandas as pd
pd.set_option('display.width', 1000)

In [2]:
[industry, sector] = get_industry_and_sector("MSFT")
industry_df = get_industry_df(industry_list=[industry])
industry_df.head()

                                  company                         industry                  sector SIC Code  exchange ticker
5885            8x8, Inc. (NasdaqGS:EGHT)  Software (System & Application)  Information Technology     4899  NasdaqGS   EGHT
5886       A10 Networks, Inc. (NYSE:ATEN)  Software (System & Application)  Information Technology     3576      NYSE   ATEN
5887  ACI Worldwide, Inc. (NasdaqGS:ACIW)  Software (System & Application)  Information Technology     7370  NasdaqGS   ACIW
5888           Adeia Inc. (NasdaqGS:ADEA)  Software (System & Application)  Information Technology     3674  NasdaqGS   ADEA
5889           Adobe Inc. (NasdaqGS:ADBE)  Software (System & Application)  Information Technology     7370  NasdaqGS   ADBE

In [3]:
cik_list = ticker_to_cik(["MSFT"])
print(cik_list)

['0000789019']

In [8]:
data_df = get_financial_item("0000789019", concept_of_interest="Revenues")
pprint(data_df)
print("here")

         start         end          val                  accn    fy  fp  form       filed     frame
0   2007-07-01  2007-09-30  13762000000  0001193125-10-171791  2010  FY  10-K  2010-07-30  CY2007Q3
1   2007-10-01  2007-12-31  16367000000  0001193125-10-171791  2010  FY  10-K  2010-07-30  CY2007Q4
2   2008-01-01  2008-03-31  14454000000  0001193125-10-171791  2010  FY  10-K  2010-07-30  CY2008Q1
3   2007-07-01  2008-06-30  60420000000  0001193125-10-171791  2010  FY  10-K  2010-07-30    CY2008
4   2008-04-01  2008-06-30  15837000000  0001193125-10-171791  2010  FY  10-K  2010-07-30  CY2008Q2
5   2008-07-01  2008-09-30  15061000000  0001193125-10-171791  2010  FY  10-K  2010-07-30  CY2008Q3
6   2008-07-01  2008-09-30  15061000000  0001193125-09-212454  2010  Q1  10-Q  2009-10-23       NaN
7   2008-07-01  2008-12-31  31690000000  0001193125-10-015598  2010  Q2  10-Q  2010-01-28       NaN
8   2008-10-01  2008-12-31  16629000000  0001193125-10-171791  2010  FY  10-K  2010-07-30  CY2008Q4
9   2008-10-01  2008-12-31  16629000000  0001193125-10-015598  2010  Q2  10-Q  2010-01-28       NaN
10  2008-07-01  2009-03-31  45338000000  0001193125-10-090116  2010  Q3  10-Q  2010-04-22       NaN
11  2009-01-01  2009-03-31  13648000000  0001193125-10-171791  2010  FY  10-K  2010-07-30  CY2009Q1
12  2009-01-01  2009-03-31  13648000000  0001193125-10-090116  2010  Q3  10-Q  2010-04-22       NaN
13  2008-07-01  2009-06-30  58437000000  0001193125-10-171791  2010  FY  10-K  2010-07-30    CY2009
14  2009-04-01  2009-06-30  13099000000  0001193125-10-171791  2010  FY  10-K  2010-07-30  CY2009Q2
15  2009-07-01  2009-09-30  12920000000  0001193125-10-239825  2011  Q1  10-Q  2010-10-28  CY2009Q3
16  2009-07-01  2009-09-30  12920000000  0001193125-10-171791  2010  FY  10-K  2010-07-30       NaN
17  2009-07-01  2009-09-30  12920000000  0001193125-09-212454  2010  Q1  10-Q  2009-10-23       NaN
18  2009-07-01  2009-12-31  31942000000  0001193125-11-015947  2011  Q2  10-Q  2011-01-27       NaN
19  2009-07-01  2009-12-31  31942000000  0001193125-10-015598  2010  Q2  10-Q  2010-01-28       NaN
20  2009-10-01  2009-12-31  19022000000  0001193125-11-015947  2011  Q2  10-Q  2011-01-27  CY2009Q4
21  2009-10-01  2009-12-31  19022000000  0001193125-10-171791  2010  FY  10-K  2010-07-30       NaN
22  2009-10-01  2009-12-31  19022000000  0001193125-10-015598  2010  Q2  10-Q  2010-01-28       NaN
23  2009-07-01  2010-03-31  46445000000  0001193125-10-090116  2010  Q3  10-Q  2010-04-22       NaN
24  2010-01-01  2010-03-31  14503000000  0001193125-10-171791  2010  FY  10-K  2010-07-30  CY2010Q1
25  2010-01-01  2010-03-31  14503000000  0001193125-10-090116  2010  Q3  10-Q  2010-04-22       NaN
26  2009-07-01  2010-06-30  62484000000  0001193125-10-171791  2010  FY  10-K  2010-07-30    CY2010
27  2010-04-01  2010-06-30  16039000000  0001193125-10-171791  2010  FY  10-K  2010-07-30  CY2010Q2
28  2010-07-01  2010-09-30  16195000000  0001193125-10-239825  2011  Q1  10-Q  2010-10-28  CY2010Q3
29  2010-07-01  2010-12-31  36148000000  0001193125-11-015947  2011  Q2  10-Q  2011-01-27       NaN
30  2010-10-01  2010-12-31  19953000000  0001193125-11-015947  2011  Q2  10-Q  2011-01-27  CY2010Q4
here

In [26]:
keylist = list(data_dict['facts']['us-gaap'].keys())
concepts = [key for key in keylist if "revenue" in key.lower()]
pprint(concepts)

['BusinessAcquisitionsProFormaRevenue',
 'ContractWithCustomerLiabilityRevenueRecognized',
 'CostOfRevenue',
 'DeferredRevenue',
 'DeferredRevenueAdditions',
 'DeferredRevenueCurrent',
 'DeferredRevenueNoncurrent',
 'DeferredRevenueRevenueRecognized',
 'DeferredRevenueRevenueRecognized1',
 'EntityWideDisclosureOnGeographicAreasRevenueFromExternalCustomersAttributedToEntitysCountryOfDomicile',
 'EntityWideDisclosureOnGeographicAreasRevenueFromExternalCustomersAttributedToForeignCountries',
 'IncreaseDecreaseInDeferredRevenue',
 'RecognitionOfDeferredRevenue',
 'RevenueFromContractWithCustomerExcludingAssessedTax',
 'RevenueRemainingPerformanceObligation',
 'RevenueRemainingPerformanceObligationPercentage',
 'Revenues',
 'SalesRevenueGoodsNet',
 'SalesRevenueNet']

In [33]:
company_fin_df1 = pd.DataFrame.from_dict(data_dict['facts']['us-gaap']["RevenueFromContractWithCustomerExcludingAssessedTax"]['units']['USD'])
pprint(company_fin_df1.head(10))
res1 = company_fin_df1.loc[company_fin_df1['form'] == "10-K", ['end','val','frame']].dropna()
pprint(type(res1))
df1 = res1[~res1.frame.str.contains("Q")]


df1.head(30)

        start         end          val                  accn    fy  fp  form       filed     frame
0  2015-07-01  2016-06-30  91154000000  0001564590-18-019062  2018  FY  10-K  2018-08-03    CY2016
1  2016-07-02  2016-09-30  21928000000  0001564590-18-019062  2018  FY  10-K  2018-08-03  CY2016Q3
2  2016-10-01  2016-12-31  25826000000  0001564590-18-019062  2018  FY  10-K  2018-08-03  CY2016Q4
3  2017-01-01  2017-03-31  23212000000  0001564590-18-019062  2018  FY  10-K  2018-08-03  CY2017Q1
4  2016-07-01  2017-06-30  96571000000  0001564590-18-019062  2018  FY  10-K  2018-08-03       NaN
5  2016-07-01  2017-06-30  96571000000  0001564590-19-027952  2019  FY  10-K  2019-08-01    CY2017
6  2017-04-01  2017-06-30  25605000000  0001564590-18-019062  2018  FY  10-K  2018-08-03  CY2017Q2
7  2017-07-01  2017-09-30  24538000000  0001564590-18-019062  2018  FY  10-K  2018-08-03       NaN
8  2017-07-01  2017-09-30  24538000000  0001564590-18-024893  2019  Q1  10-Q  2018-10-24       NaN
9  2017-07-01  2017-09-30  24538000000  0001564590-19-027952  2019  FY  10-K  2019-08-01  CY2017Q3
<class 'pandas.core.frame.DataFrame'>

           end           val   frame
0   2016-06-30   91154000000  CY2016
5   2017-06-30   96571000000  CY2017
20  2018-06-30  110360000000  CY2018
41  2019-06-30  125843000000  CY2019
59  2020-06-30  143015000000  CY2020
73  2021-06-30  168088000000  CY2021
85  2022-06-30  198270000000  CY2022
96  2023-06-30  211915000000  CY2023

In [21]:
res10K = company_fin_df.loc[company_fin_df['form'] == "10-K", ['end','val','frame']].dropna()
df2 = res10K[~res10K.frame.str.contains("Q")]
df2.head(10)

           end          val   frame
3   2008-06-30  60420000000  CY2008
13  2009-06-30  58437000000  CY2009
26  2010-06-30  62484000000  CY2010